{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tables</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <!-- Dark table -->
    <div class="row">
      <div class="col">
        <div class="card bg-default shadow">
          <div class="card-header bg-transparent border-0">
            <h3 class="text-white mb-0">Dark table</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-dark table-flush">
              <thead class="thead-dark">
                <tr>
                  <th></th>
                  <th scope="col" class="sort" data-sort="name">Key</th>
                  <th scope="col" class="sort" data-sort="budget">Category</th>
                  <th scope="col" class="sort" data-sort="status">Year_Week</th>
                  <th scope="col">Planning_Customer</th>
                  <th scope="col" class="sort" data-sort="completion">Customer_L3</th>
                  <th scope="col" class="sort" data-sort="completion">GTIN</th>
                  <th scope="col" class="sort" data-sort="completion">APG</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">

                {% for i in data %}
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="name mb-0 text-sm">{{i.index}}</span>
                      </div>
                    </div>
                  </th>
                  <td class="budget">
                    {{i.Key}}
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-warning"></i>
                      <span class="status">{{i.Category}}</span>
                    </span>
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-warning"></i>
                      <span class="status">{{i.Year_Week}}</span>
                    </span>
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-warning"></i>
                      <span class="status">{{i.Planning_Customer}}</span>
                    </span>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="completion mr-2">{{i.Customer_L3}}</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="completion mr-2">{{i.GTIN}}</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="completion mr-2">{{i.APG}}</span>
                    </div>
                  </td>

                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if data.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ data.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ data.number }} of {{ data.paginator.num_pages }}.
                </span>
        
                {% if data.has_next %}
                    <a href="?page={{ data.next_page_number }}">next</a>
                    <a href="?page={{ data.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        <br><hr>
        <div class="tab">Eda Config:<br><hr>

          <label for="key">Key:</label>
            <select name="key" id="key">
              <option value="key">key</option>
            </select><br><br>
            <label for="target_col">target_col:</label>
            <select name="target_col" id="target_col">
              <option value="target_col">target_col</option>
            </select><br><br>
            <label for="year_week_col">year_week_col:</label>
            <select name="year_week_col" id="year_week_col">
              <option value="Year_Week">Year_Week</option>
            </select><br></br>
            <label for="curr_week">curr_week:</label>
            <select name="curr_week" id="curr_week">
              <option value="2022-51">2022-51</option>
            </select><br></br>

            <label for="forecast_end_week">forecast_end_week:</label>
            <select name="forecast_end_week" id="forecast_end_week">
              <option value="None">None</option>
            </select><br></br>

            <label for="promo_indicator_col">promo_indicator_col:</label>
            <select name="promo_indicator_col" id="promo_indicator_col">
              <option value="Promo_Flag">Promo_Flag</option>
            </select><br></br>

            <label for="customer_col">customer_col:</label>
            <select name="customer_col" id="customer_col">
              <option value="Planning_Customer_Name">Planning_Customer_Name</option>
            </select><br></br>

            <label for="category_col">category_col:</label>
            <select name="category_col" id="category_col">
              <option value="Category">Category</option>
            </select><br></br>

            <label for="region">region:</label>
            <select name="region" id="region">
              <option value="Eastern Europe">Eastern Europe</option>
            </select><br></br>

            <label for="country">country:</label>
            <select name="country" id="country">
              <option value="Czech Replublic">Czech Replublic</option>
            </select> <hr>

        </div>
      <br><br>

      </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
